@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Archivo:wght@300&family=Roboto&display=swap');

body {
    font-family: roboto;
    text-align: center;
}

h1 {
    font-family: Archivo;
}

#game-area {
    width: 60%;
    margin: auto;
    background-color: slategray;
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px;
}
#game-container {
    width: 90%;
    height:400px;
    background-color: #140D27;
    margin: auto;
}

canvas {
    display: block;
  }